<form [formGroup]="nestedForm">
  <ng-container formGroupName="primaryAddress">
    <mat-form-field>
      <mat-label>Address Line 1</mat-label>
      <input
        matInput
        placeholder="Address Line 1"
        formControlName="addressLine1"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address Line 2</mat-label>
      <input
        matInput
        placeholder="Address Line 2"
        formControlName="addressLine2"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput placeholder="City" formControlName="city" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>State</mat-label>
      <input matInput placeholder="State" formControlName="state" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Zip</mat-label>
      <input matInput placeholder="Zip" formControlName="zip" />
    </mat-form-field>
  </ng-container>
  <ng-container formGroupName="homeAddress">
    <mat-form-field>
      <mat-label>Address Line 1</mat-label>
      <input
        matInput
        placeholder="Address Line 1"
        formControlName="addressLine1"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address Line 2</mat-label>
      <input
        matInput
        placeholder="Address Line 2"
        formControlName="addressLine2"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput placeholder="City" formControlName="city" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>State</mat-label>
      <input matInput placeholder="State" formControlName="state" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Zip</mat-label>
      <input matInput placeholder="Zip" formControlName="zip" />
    </mat-form-field>
  </ng-container>
  <button mat-raised-button color="primary" (click)="onClick()">Click</button>
</form>
